.container {
    max-width: 120rem; // so that it can decrease
    margin: 8rem auto; // centers the container inside the body element
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);
    min-height: 50rem; // test

    // max-width: 1200px
    @media only screen and (max-width: $bp-largest) {
        margin: 0;

        // Fix for font-size: 50% on html element (1100px media query)
        max-width: 100%;
        width: 100%;
    }
}

.header {
    font-size: 1.4rem; // will be inherited by the input
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);

    // Logo, search box and nav side by side
    display: flex;
    justify-content: space-between;
    align-items: center;

    // max-width: 500px
    @media only screen and (max-width: $bp-smallest) {
        flex-wrap: wrap;
        align-content: space-around;
        height: 11rem;
    }
}

.content {
    display: flex;

    // Sidebar on top of the hotel-view
    // max-width: 900px
    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
}

.sidebar {
    background-color: var(--color-grey-dark-1);

    // Don't grow besides the width that is defined
    flex: 0 0 18%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    // Grow to fill all the available space
    flex: 1;
    background-color: #fff;
}

.detail {
    font-size: 1.4rem; // better than putting it in the description and the user-reviews
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);

    // max-width: 900px
    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
    }

    // max-width: 600px
    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }
}

.description {
    // font-size: 1.4rem;
    padding: 3rem;
    margin-right: 4.5rem; // same as detail's padding
    background-color: #fff;
    box-shadow: var(--shadow-light);
    flex: 0 0 60%;

    // max-width: 900px
    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-right: 3rem;
    }

    // max-width: 600px
    @media only screen and (max-width: $bp-small) {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

.user-reviews {
    // font-size: 1.4rem;
    flex: 1; // occupy rest of space (40%)

    // Center the button
    display: flex;
    flex-direction: column;
    align-items: center;
}