.container {
    max-width: 120rem; // so that it can decrease
    margin: 8rem auto; // centers the container inside the body element
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);
    min-height: 50rem; // test
}

.header {
    font-size: 1.4rem; // will be inherited by the input
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);

    // Logo, search box and nav side by side
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--color-grey-dark-1);

    // Don't grow besides the width that is defined
    flex: 0 0 18%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    // Grow to fill all the available space
    flex: 1;
    background-color: #fff;
}

.detail {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
}

.description {
    font-size: 1.4rem;
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;
}

.user-reviews {
    background-color: greenyellow;
    flex: 1; // occupy the rest of the space (40%)
}